* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6; 
    color: #000;
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
}

header {   
    background-color: #fff;
    color: #000;
    padding: 1.5rem 0; 
    margin-bottom: 2rem;  
    border-bottom: 1px solid #eee; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {      
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 2rem;
}

.header-content {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {    
    font-size: 2.2rem;
    font-weight: 700;
    color: #000;
}

nav {
    display: flex;                
    gap: 15px;                     
    flex-wrap: wrap;                
}

nav a {   
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav a.active {
    color: tomato;
}

nav a:hover {   
    background-color: #f2f2f2;
    color: #d35400;
}

main {
    margin-bottom: 2rem; 
    flex: 1; /*заставляет основной контент растягиваться, свободное пространство в контейнере будет равномерно распределено между всеми элементами*/
    background: #f2f2f2;
    font-weight: 700;
    font-size: 1.2rem;
}

footer {  
    background-color: black;
    color: white; 
    text-align: left;
    padding: 1.5rem 0;
    margin-top: 2rem;
    margin-left: -20rem;
}

.contact-info {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: white; 
}

.contact-info a {    
    color: white;  
    text-decoration: none;
    font-weight: 600;
}

.contact-info a:hover { 
    text-decoration: underline;
    color: #ffed85; 
}

footer p {
    color: white; 
}

@media (max-width: 800px) {
    .about-image {
        width: 500px;           
        height: 300px;         
    }
    
    nav {
        justify-content: space-between; 
    }
}

@media (max-width: 600px) {
    .about-image {
        width: 100%;            
        height: 250px;          
    }
    
    h1 {
        text-align: center;     
    }
    
    .header-content {
        flex-direction: column; 
        gap: 1rem;            
    }
    
    nav {
        flex-direction: column; 
        align-items: center;   
        gap: 10px;             
    }
    
    nav a {
        font-size: calc(1.1rem + 4px); 
    }
    
    table {
        font-size: 0.9rem;     
    }
    
    th, td {
        padding: 0.5rem;      
    }
}

@media (max-width: 400px) {
    .about-image {
        width: 100%;           
        height: 200px;         
    }
    
    table {
        font-size: 0.8rem;     
    }
    
    th, td {
        padding: 0.3rem;      
    }
    
    nav a {
        font-size: 1rem;      
        padding: 0.8rem 1.2rem; 
    }
    
    section {
        padding: 1rem;        
    }
    
    .container {
        padding: 0 1rem;     
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
